@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@200;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300;400;500;600;700;900&display=swap');

@font-face {
  font-family: Titulo;
  src: url(./elementos/fontes/Early\ Man.otf) format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: Subtitulo;
  src: url(./elementos/fontes/Oswald-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: nunito;
  src: url(./elementos/fontes/Nunito-Bold.ttf) format("truetype");
}

:root {
    --preto: #0d0000;
    --preto-escuro: #212026;
    --cinza-escuro: #525759;
    --cinza-amarrontado: #737065;
    --branco-escuro: #d7d9d8;
  
    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --nunito: "Nunito", sans-serif;
     
  }



.feminino {
    width: 92%;
    height: 600px;
    background-color: white;
    position: absolute;
    top: 100%;
    margin-top: 25vh;
    /* margin-left: 5%; */
    /* margin-right: 5vw; */
    left: 4.3%;
    margin-bottom: 50px;
    
}

.feminino > h2 {
    font-size: 3.5em;
    margin: 0px;
    padding: 0px;
    color: black;
    padding-bottom: 20px;
    font-variant: small-caps;
}


.grid-feminino {
  margin: 0px;
  padding: 0px;
  align-items: left;
  padding-top: 37px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: 2;
  padding-bottom: 200px;
  gap: 30px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.responsivo {
    max-width: 100%;
    height: auto;
    transition: transform 0.3s;
    box-shadow: 2px 1px 8px rgb(0 0 0 / 61%);
}

.responsivo:hover {
    transform: scale(1.08);
}


@media (max-width: 1207px) {
  .grid-feminino{
    grid-template-columns: repeat(2, 1fr);
    max-width: 75%;
    height: auto;
    min-width: 140px;
    padding-left: 10%;
    padding-right: 5%;

  }
}

@media only screen and (max-width: 600px) {
  .grid-feminino {
    grid-template-columns: repeat(4, 1fr);
    overflow-x: scroll;
    padding-top: 6px;

  }
  .grid-feminino::-webkit-scrollbar{
    width: 0;
    background-color: transparent;
  }
}

.bloco-roupas > p {
  font-size: 1.4em;
}