@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Nunito:wght@200;800&display=swap");

@font-face {
  font-family: Titulo;
  src: url(./elementos/fontes/Early\ Man.otf) format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: Subtitulo;
  src: url(./elementos/fontes/Oswald-VariableFont_wght.ttf) format("truetype");
}

@font-face {
  font-family: nunito;
  src: url(./elementos/fontes/Nunito-Bold.ttf) format("truetype");
}

/*  Cores: 
    Preto: #0D0000
    preto escuro: #212026
    cinza escuro: #525759
    cinza amarrontado:  #737065
    branco escuro: #D7D9D8
*/

:root {
  --preto: #0d0000;
  --preto-escuro: #212026;
  --cinza-escuro: #525759;
  --cinza-amarrontado: #737065;
  --branco-escuro: #d7d9d8;

  --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
  --nunito: "Nunito", sans-serif;
   
}


.bloco-roupas {
    width: 100%;
    height: 200px;
    background-color: white;
    margin-bottom: 100px;
    margin-top: 100px;
    color: white;
    text-align: left;
}



.bloco-roupas > h1 {
    margin: 0px;
    padding: 0px;
    text-align: center;
    padding-top: 20px;
    font-size: 5.5em;
    font-family: var(--Subtitulo) sans-serif;
    font-variant: small-caps;
    color: black;

}

.bloco-roupas > p {
    padding-top: 50px;
    font-family: var(--Subtitulo);
    font-size: 1.2em;
    color: black;
}


/* Configurando as fotos das roupas */
div > .roupas img {
  max-width: 100%;
  height: auto;
  min-width: 140px;
  transition: transform 0.3s;
  box-shadow: 2px 1px 8px rgba(0, 0, 0, 0.61);
}

div > .roupas img:hover{
  transform: scale(1.08);

}

.carrinho{
  width: initial;
  height: initial;
  position: initial;
  right: initial;
  padding: 11px 29px;
  background-color: #0d00006e;
  color: rgb(255, 255, 255);
  display: block;
  position: absolute;
  top: 59%;
  left: 11.5%;
  transform: translate(-24%, 27%);
  font-size: 1.4vw;
  text-align: center;
  border-radius: 5px;
  text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.74);
}

.carrinho:hover {
  cursor: pointer;
  /* background-color: var(--cinza-escuro); */
  font-size: initial;
  background-color: aqua;

}
/* Terminando conf das fotos de roupas */


div > .roupas {
  
  margin: 0px;
  padding: 0px;
  align-items: left;
  padding-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column: 2;
  padding-bottom: 200px;
  gap: 30px;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
  
}

@media (max-width: 1207px) {
  div > .roupas {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding-left: 15%;

  }
  div > .roupas img {
    max-width: 75%;
    height: auto;
    min-width: 140px;
  
  }

}