@charset "UTF-8";

@font-face {
    font-family: Titulo;
    src: url(fontes/Early\ Man.otf) format('opentype');
    font-weight: bold;
}
@font-face {
    font-family: Subtitulo;
    src: url(fontes/Oswald-VariableFont_wght.ttf) format('truetype');
}

/*  Cores: 
    Preto: #0D0000
    preto escuro: #212026
    cinza escuro: #525759
    cinza amarrontado:  #737065
    branco escuro: #D7D9D8
*/


:root {
    --preto: #0D0000;
    --preto-escuro: #212026;
    --cinza-escuro: #525759;
    --cinza-amarrontado:  #737065;
    --branco-escuro: #D7D9D8;


    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;


}


body {
    background-color: var(--cinza-escuro);
}

h1 {
    font-family: Titulo;
}

h2 {
    font-family: Subtitulo;
}